<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>


<body>

<nav th:replace="layouts :: navbar"></nav>
	
	<br>
	
	<div class="container" style="margin-bottom: 30px;">
		<form th:action="@{/projects/save}" th:object="${project}" method="POST">
		<input type="hidden" th:field="*{projectId}" />
		<div class="form-group row">
			<input type="text" placeholder="Project Name" th:field="*{name}">
		</div>
		
		<div class="form-group row">
			<select th:field="${project.stage}">
				<option th:value="NOTSTARTED"> Not Started</option>
				<option th:value="INPROGRESS"> In Progress</option>
				<option th:value="COMPLETED"> Completed</option>
			</select>
		</div>
		
		<div class="form-group row">
			<textarea th:type="text" placeholder="Enter Project Description" th:field="${project.description}"></textarea>
		</div>
		
		<div class="form-group row">
			<select th:field="*{employees}" multiple="multiple">
				<option th:each = "employee : ${allEmployees}"
						th:value = "${employee.employeeId}"
						th:text = "${employee.firstName}">
				</option>
			</select>
		</div>
		
		Project Start Date:
		<div class="form-group row">
			<input id="dp3" type="text" class="mb-4 col-2 col-xs-4" value="Start Date" th:field="${project.startDate}">
		</div>
		
		
		Project End Date:
		<div class="form-group row">
			<input id="dp4" type="text" class="mb-4 col-2 col-xs-4" value="End Date" th:field="${project.endDate}">
		</div>
		
		<script type="text/javascript">
	      	$('#dp3').datepicker();
	      	$('#dp4').datepicker();
	      </script>
		
		
		<button class="btn btn-info col-2" type="submit" style="margin-left: -15px;">Enter Project</button>
		
		</form>
	</div>
	<div style="margin-top: 20px;">  
    <div class="nav-container footer">
        <span class="m span-style">Website Maker: Christian V. Grayson</span>
        <span class="m">Privacy</span>
        <span class="m">Terms of Service</span>
    </div>
  </div>

</body>
<style>
  .nav-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      height: 150px;
      background: #343a40;
  }
  .m {
    color: white;
    font-size: 15px;
  }
  </style>

</html>